<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Searcher</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>🎬 Movie Searcher</h1>
      <p>Find your favorite movies</p>
    </header>
    <main>
      <input type="text" class="placeholder" placeholder="Search for your favorite movie">
    </main>
  </div>
  <!--Here will display the search results-->
  <div>
    <h1 class="titles">Search Results</h1>
  </div>
  <!--Here I will put the most relevant searches across the web-->
  <div>
    <h1 class="titles">Popular Searches</h1>
  </div>
    <div>
    <h1 class="titles">Most relevant actors</h1>
  </div>
</body>
</html>