<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Searcher</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>🎬 Movie Searcher</h1>
      <p>Find your favorite movies</p>
    </header>
    <main>
    </main>
  </div>
  
  <!--Here will display the search results-->
  <div >
    <app-searched-results></app-searched-results>
  </div>

  <!--Here I will put the most relevant searches across the web-->
  <div >
    <app-relevant-results></app-relevant-results>
  </div>
</body>
</html>